*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
a
    font-family: 'Ubuntu', sans-serif
.container
    width: 90%
    max-width: 1200px
    margin: auto
    // для того что бы убрать отступы
    font-size: 0
.subtitle
    font-size: 18px
    line-height: 27px
    color: #5E6282
    font-family: 'Ubuntu', sans-serif
.greyText
    color: #5E6282
.showCase
    background-image: url("Decore.png")
    background-repeat: no-repeat
    background-position: top right
    background-size: 39%
    header
        padding: 20px 0%
        .right
            float: right
            select
                border: none
                padding-left: 20px
                font-family: 'Ubuntu', sans-serif
                font-size: 16px
            #signUp
                border: 1px #212832 solid
                border-radius: 3px
            a
                padding: 0 20px
                // background-color: pink
                line-height: 32px
                display: inline-block
                font-size: 16px
                text-decoration: none
                color: #212832
    .info
        font-family: 'Ubuntu', sans-serif
        width: 50%
        // background-color: pink
        font-size: 20px
        display: inline-block
        vertical-align: middle
        img
            width: 100%
        h2
            color: #DF6951
            margin-bottom: 20px
        p
            font-size: 15px
            margin-bottom: 40px
        a
            color: grey
        .find
            background-color: #F1A501
            padding: 16px 20px
            color: white
            border-radius: 10px
            transition: 0.5s
            display: inline-block
            &:hover
                transform: scale(0.95)
        .play
            width: 52px
            vertical-align: middle
            padding: 5px
    .woman
        // background-color: gold
        width: 50%
        vertical-align: middle
main
    section
        text-align: center
        line-height: 20px
        margin-bottom: 50px
        background-repeat: no-repeat
        &:nth-of-type(1)
            background-image: url("Group 4.svg")
            background-position: top right
        &:nth-of-type(2)
            background-image: url("Decore.svg")
            background-position: bottom right
            background-size: 120px
        h2
            font-size: 50px
            line-height: 64.5px
            font-family: 'Volkhov', serif
            color: #14183E
        .minicard
            display: inline-block
            border-radius: 15px
            padding: 20px 5px
            margin: 0 20px
            width: calc( 25% - 30px )
            position: relative
            &:nth-of-type(1)
                margin-left: 0px
            &:nth-of-type(4)
                margin-right: 0px
            .route
                width: 80px
                height: 80px
                object-fit: contain
            .rect
                position: absolute
                left: -30px
                bottom: -30px
                z-index: -999999999
            &:nth-of-type(2)
                box-shadow: 0 50px 15px #00000033
                background-color: white
            h4
                font-size: 20px
                line-height: 27px
                font-family: 'Ubuntu', sans-serif
                color: #1E1D4C

            p
                font-size: 16px
                line-height: 26px
                font-family: 'Ubuntu', sans-serif
                &:nth-of-type(2)
                    padding: 100%
        .city
            font-family: 'Ubuntu', sans-serif
            width: calc( 100% / 3 - 20px)
            display: inline-block
            margin-bottom: 50px
            // padding: 30px
            box-shadow: 0px 15px 20px #00000031
            margin: 20px 10px
            border-radius: 10px
            background-color: white
            img
                width: 100%
                height: 420px
                object-fit: cover
                border-radius: 10px 10px 0 0
            .cityInfo
                padding: 15px
                h4
                    font-weight: 400
                    line-height: 22px
                    font-size: 18px
                    color: #5E6282
                    float: left
                    margin-bottom: 15px
                    &:nth-of-type(2)
                        float: right
                p
                    clear: both
                    line-height: 20px
                    font-size: 16px
                    display: block
                    text-align: left
                    svg
                        vertical-align: middle
    .trip
        h2
            font-size: 50px
            line-height: 64.5px
            font-family: 'Volkhov', serif
            color: #14183E
            margin-bottom: 30px
        h4
            line-height: 22px
            font-size: 18px
            color: #5E6282
    .tripLeft
        display: inline-block
        width: 60%
        padding-left: 10px
        .activList
            margin-bottom: 35px
            img
                vertical-align: middle
                margin-right: 15px
            .tripInfo
                font-family: 'Ubuntu', sans-serif
                display: inline-block
                vertical-align: middle
                p
                    font-size: 16px
                    color: #5E6282
    .tripRight
        display: inline-block
        width: 40%
        padding-right: 10px
        .tripCard
            width: 75%
            margin: auto
            background-color: white
            padding: 20px
            border-radius: 20px
            box-shadow: 10px 10px 30px #0000002a
            position: relative
            font-family: "Ubuntu", sans-serif
            &::after
                content: ""
                width: 100%
                height: 100%
                background-color: #59B1E6
                position: absolute
                top: -70px
                left: 50px
                filter: blur(50px)
                z-index: -99999999
                opacity: 0.3
            >img
                width: 100%
                margin-bottom: 20px
            a
                margin-right: 10px
            h3, p
                font-size: 20px
                margin-bottom: 10px
            p
                color: #84829A
                display: inline-block
                width: calc( 100% - 20px )
                // vertical-align: middle
                margin-bottom: 15px
                svg
                    margin: 0
            .tripMini
                position: absolute
                opacity: 0
                right: -150px
                bottom: 70px
                pointer-events: none
                background-color: white
                padding: 20px
                border-radius: 20px
                width: 80%
                box-shadow: 0px 10px 20px #00000021
                img
                    width: 50px
                    vertical-align: top
                .tripProgress
                    display: inline-block
                    width: calc( 100% - 50px )
                    vertical-align: top
                    padding-left: 10px
                    .lineContainer
                        background-color: #f5f5f5
                        height: 5px
                        width: 100%
                        border-radius: 10px
                        .line
                            background-color: #8a79df
                            height: 5px
                            border-radius: 10px
            svg
                vertical-align: middle
                margin-bottom: 10px
                &:hover~.tripMini
                    opacity: 1
    .feedback
        overflow: hidden
        padding-bottom: 50px
        .feedLeft
            width: 40%
            font-family: "Ubuntu", sans-serif
            float: left
            h4
                font-size: 18px
                line-height: 27px
            h2
                font-size: 50px
            span
                background-color: #E5E5E5
                border-radius: 100%
                height: 12px
                width: 12px
                display: inline-block
                margin-right: 15px
                margin-top: 50px
            .active
                background-color: #39425D
        .feedRight
            float: right
            width: 60%
            padding-top: 34px
            padding-bottom: 40px
            position: relative
            .feedText
                width: calc( 100% - 68px - 40px)
                margin-left: 34px
                background-color: white
                border-radius: 20px
                transition: .3s
                padding: 25px
                box-sizing: border-box
                box-shadow: 5px 15px 30px #2f2f2f21
                p
                    line-height: 25px
                    font-size: 16px
                    font-family: "Ubuntu", sans-serif
                    &:nth-of-type(1)
                        height: 75px
                h2
                    font-size: 18px
                    font-family: "Ubuntu", sans-serif
                img
                    top: -34px
                    left: -34px
                    position: absolute
                    width: 68px
            #secondSlide
                position: absolute
                bottom: 0
                left: 34px

            #firstSlide
                position: relative
                z-index: 9
            .buttons
                height: 100%
                right: 0
                top: 0
                position: absolute
                z-index: 99999999999
                display: flex
                flex-direction: column
                justify-content: center
                button
                    width: 40px
                    height: 40px
                    border: none
                    background-color: #00000000
                    cursor: pointer
                    outline: none
                    &:nth-of-type(1)
                        transform: rotate(180deg)
    .company
        text-align: center
        img
            display: inline-block
            vertical-align: middle
            margin-right: 45px
            filter: grayscale(100%)
            transition: 0.3s
            &:hover
                filter: grayscale(0%)
    .subs
        form
            text-align: center
            background-color: #DFD7F933
            border-radius: 30px
            border-top-left-radius: 150px
            position: relative
            padding: 100px
            h3
                font-size: 33px
                font-family: "Ubuntu", sans-serif
                color: #5E6282
                text-align: center
                margin-bottom: 70px
            .inputContainer
                z-index: 9
                position: relative
                width: 50%
                display: inline-block
                input
                    height: 70px
                    width: 100%
                    border-radius: 20px
                    border: none
                    box-sizing: border-box
                    outline: none
                    padding: 0 50px
                img
                    left: 20px
                    height: 100%
                    top: 0
                    width: 20px
                    object-fit: contain
            button
                display: inline-block
                z-index: 9
                position: relative
                height: 70px
                border: none
                background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%))
                padding: 0px 45px
                font-size: 15px
                color: white
                border-radius: 20px
                box-sizing: border-box
                margin-left: 20px
                cursor: pointer
            img
                top: -15px
                right: -25px
                position: absolute
            .circlesLeft
                top: auto
                right: auto
                bottom: 0
                left: -50px
            .circlesRight
                top: 0
                right: 0px
footer
    margin-top: 120px
    .container
        justify-content: space-between
        flex-wrap: wrap
        display: flex
        .rights
            margin-top: 50px
            width: 100%
            text-align: center
            font-size: 14px
            font-family: "Ubuntu", sans-serif
            margin-bottom: 30px
        section
            h1
                font-size: 44px
                font-family: "Ubuntu", sans-serif
                color: #181E4B
            p
                font-size: 13px
                font-family: "Ubuntu", sans-serif
                color: #5E6282
        table
            th
                text-align: left
                color: #080809
                font-size: 21px
                font-family: "Ubuntu", sans-serif
                font-style: normal
                font-weight: 700
                padding-right: 30px
                padding-left: 30px
            td
                padding-right: 30px
                font-size: 18px 
                font-style: normal
                font-family: "Ubuntu", sans-serif
                padding-left: 30px
                color: #5E6282
        .social
            h2
                font-size: 20px
                line-height: 20px
                font-family: "Ubuntu", sans-serif
                color: #5E6282
                font-weight: 300
            a
                display: inline-block
                height: 50px
                width: 50px
                background-image: url("Social.svg")
                background-size: contain
                background-position: center
                background-repeat: no-repeat
                &:nth-child(2)
                    background-image: url("Social.png")
                &:nth-child(3)
                    background-image: url("Social (2).svg")
                &:nth-of-type(4)
                    background-image: url("Google Play.svg")
                    width: 100px
                &:nth-of-type(5)
                    background-image: url("Play Store.svg")
                    width: 100px
